@import url(./base.less);
@baseSize: 3.75vw;

body {
    background-color: #fff;
}

.suspension {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: pink;
    padding: 0 (18 / @baseSize) 0 (12 / @baseSize);

    a {
        display: block;

        i {
            font-size: (28 / @baseSize);
            color: #fb7299;
        }
    }

    .right {
        display: flex;

        .face {
            width: (24 / @baseSize);
            height: (24 / @baseSize);
            background-color: purple;
        }

        .app-btn {
            width: (72 / @baseSize);
            height: (24 / @baseSize);
            background-color: skyblue;
        }
    }
}