.login {
    height: 486px;
    background-color: #7e00ff;
}

.login img {
    margin-top: 33px;
}

/* 登录内容 */
.login .login_content {
    float: right;
    width: 379px;
    height: 362px;
    margin: 62px 0;
    margin-right: 55px;
    padding: 22px 38px 0px;
    background-color: #ffffff;
}

.login .login_content ul li {
    margin-bottom: 10px;
}

.login .login_content ul li:first-child {
    margin-bottom: 22px;
}

.login .login_content ul li:nth-child(3) {
    margin-bottom: 17px;
}

.login .login_content ul li:nth-child(4) {
    margin-bottom: 20px;
}

.login .login_content .hd .lf {
    float: left;
    font-size: 18px;
    margin-left: 10px;
}

.login .login_content .middle {
    float: left;
    height: 20px;
    width: 2px;
    margin-top: 2px;
    margin-left: 70px;
    background-color: #ededed;
}

.login .login_content .warning {
    width: 303px;
    height: 26px;
    padding-left: 10px;
    line-height: 26px;
    background-color: #fffdee;
    border: 1px solid #f5eecf;
}

.login .login_content .hd .rf {
    float: right;
    font-size: 18px;
    margin-right: 10px;
}

.login .login_content .inp {
    height: 36px;
    border: 1px solid #bbbaba;
}

.login .login_content .icon1 {
    float: left;
    height: 34px;
    width: 37px;
    background: url(../images/icon-1_03.png) no-repeat;
}

.login .login_content input {
    height: 34px;
    padding-left: 11px;
}

.login .login_content .icon2 {
    float: left;
    height: 34px;
    width: 37px;
    background: url(../images/icon-2_03.png) no-repeat;
}

.login .login_content .sel .lf {
    float: left;
    width: 65px;
    color: #b3b3b3;
}

.login .login_content .sel input {
    float: left;
    display: block;
    height: 14px;
    width: 14px;
    margin-top: 3px;
}

.login .login_content .sel .rf {
    float: right;
    color: #333333;
}

.login .login_content ul li:nth-last-child(3) {
    margin-bottom: 20px;
}

.login .login_content ul li:nth-last-child(2) input {
    width: 303px;
    height: 41px;
    font-size: 16px;
    color: #fff;
    background-color: #c81623;
}

.login .login_content ul li .content_bottom ul li a {
    float: left;
    display: block;
    height: 33px;
    width: 33px;
}

.login .login_content ul li .content_bottom ul li:first-child a {
    background: url(../images/电商-登录-QQ_06.png) no-repeat;
}

.login .login_content ul li .content_bottom ul li:nth-child(2) a {
    background: url(../images/电商-登录-微博_08.png) no-repeat;
}

.login .login_content ul li .content_bottom ul li:nth-child(3) a {
    background: url(../images/电商-登录-支付宝_10.png) no-repeat;
}

.login .login_content ul li .content_bottom ul li:nth-child(4) a {
    background: url(../images/登录_12.png) no-repeat;
}

.login .login_content ul li .content_bottom ul li:nth-child(-n+4) a {
    margin-right: 20px;
}

.login .login_content ul li .content_bottom ul li:last-child a {
    display: block;
    width: 61px;
    margin-left: 23px;
    font-size: 14px;
    line-height: 33px;
}